---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-02-01/
asker: _Hawkon
askurl: https://x.com/_Hawkon/status/1753166194842951809
answerer: DANN WEBSTER
answererRole: Technical Director
answerurl: https://x.com/ItsBuddhaCat/status/1753170000532086905
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Why Flecs?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"We knew that we wanted to build Hytale around an Entity-Component-System (ECS). When we analyzed the options, FLECS rose to the top. FLECS provides the backbone of the Hytale Game Engine. Its flexibility has allowed us to build highly varied gameplay while supporting our vision for empowering Creators."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-02-01.jpg">
</div>