---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-05-10/
asker: JAWredstoneguy
askurl: https://x.com/JAWredstoneguy/status/1747450197771182221
answerer: Sean "Drevarius" Szopinski
answererRole: Design Director
answerurl: https://x.com/ItsBuddhaCat/status/1789015257064558687
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"How complicated will the magic system be? Are there unique spells you can use? Can you make your own spells through a semi-modular system? Will you be able to combine different elements when/if you can spellcraft, making completely unforeseen effects?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"This is a space we are still working on! I love magic systems and I want ours to be awesome. We're looking at magic being an Adventure in itself - you don't start with it, but you can go out and find it, and make it a part of your desired playstyle. Importantly - for appreciators of both the magical and the mundane - we want magic to have particular uses that contrast with other skills the player can also be good at. If you aren't particularly magical yourself, you'll want to have a magical friend."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-05-10.jpg">
</div>