---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-04-11/
asker: _Hawkon
askurl: https://x.com/_Hawkon/status/1749464402502267165
answerer: Sean "Drevarius" Szopinski
answererRole: Design Director
answerurl: https://x.com/ItsBuddhaCat/status/1778509693243080983
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Are the crafting stations themselves tied to progression? Think Terraria or Valheim, where you need to improve your stations to improve your gear."</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"You should certainly expect to get access to more (and better) crafting stations as you progress further as a player. It's a fun way to unlock more things to do, and can give you new challenges to solve for how you want to lay out your home base. Maybe it's a new station that needs a new room - maybe the old station is simply bigger and needs more space. Maybe that fancy new table needs a Wizard Tower."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-04-11.jpg">
</div>