---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-01-30/
asker: LuisaCoolSouza
askurl: https://x.com/LuisaCoolSouza/status/1737166502321615004
answerer: ALEX | "SIERRA"
answererRole: Senior UX Designer
answerurl: https://x.com/ItsBuddhaCat/status/1752422214652379596
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Will there be accessibility options? for example, I'm deaf, I like subtitles for sounds, my brother can't read small texts, some people have ADHD, and they like visuals that predict where a bomb will explode, the size, or when an enemy will attack, just to focus."</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"Hey Luisa! We believe in every person's Right To Play and we aspire for Hytale to be as accessible to as many people as possible! Implementing features such as subtitles for dialogue and captions for non-speech sounds is high on our priority list. But we are also consciously designing *with* accessibility in mind, so that our systems are not inaccessible to begin with. For example, we use multiple sensory methods to deliver essential gameplay info, so that we don't rely on audio alone. :)"</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-01-30.jpg">
</div>