---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-04-05/
asker: pogal_pog
askurl: https://x.com/pogal_pog/status/1756506703724446156
answerer: John Hendricks
answererRole: Executive Producer & Game Director
answerurl: https://x.com/ItsBuddhaCat/status/1776309611630375340
ogpImage: /assets/images/AskHytale-2024-04-05.jpg
twitCardType: summary_large_image
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"So this is a bit extreme but how unlimited is your modding going to be since that will make or break the game for me. Through mods, would I be able to play as a yellow pufferfish wielding a mace made out of a shark flying on a hoverboard with a pet puffer following me?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"Ok, so you want A) to mod your character model to be a pufferfish with the ability to swim fast, breathe underwater, and expand your size when in combat B) create a new weapon that inherits all of the abilities of the mace, but with a special that spawns an attack shark for a limited time that also grants you partial immunity to being stunned C) a flying hoverboard with a co-pilot station (aquarium?) designed to hold one pufferfish, and D) a pufferfish companion who grants your hoverboard a speed boost and gives you aggro reduction to any hostile creature that sees it smile? Yes."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-04-05.jpg">
</div>