---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-07-30/
asker: xWildSlicerx
askurl: https://x.com/xWildSlicerx/status/1818036385842160027
answerer: Alex (aka "Sierra")
answererRole: Senior UX Designer
answerurl: https://x.com/ItsBuddhaCat/status/1818360598159409217
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Why the font change? I be curious @JLtZD"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"That's a great question and the answer is pretty straightforward!

Hebden Incised is the display font we are using for headings in the in-game UI, so using it across various media in the blogpost felt like a good way to establish a little more visual consistency." </p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-07-30.jpg">
</div>