---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-03-01/
asker: Archy____
askurl: https://x.com/Archy____/status/1748282888515100799
answerer: xSUND0WN
answererRole: Senior Competitive Designer
answerurl: https://x.com/ItsBuddhaCat/status/1763675632192393603
ogpImage: /assets/images/AskHytale-2024-03-01.jpg
twitCardType: summary_large_image
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"When it comes to combat, will there be any other sort of counters besides blocking, such as parrying or dodging?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"Yes absolutely. Combat works best when there is a variety of key options available to the player and each of them has its positives & drawbacks. We want to allow players to be able to express themselves via how they decide to engage in combat. What equipment they bring also plays a role. It gets fun when players use equipment & abilities to craft their personal approach to combat. All of these factors play a key role in informing the foundational combat of Hytale."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-03-01.jpg">
</div>