---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-06-14/
asker: _hytalebr
askurl: https://x.com/_hytalebr/status/1787808485087850496
answerer: Zum
answererRole: Hypixel Studios Game Designer
answerurl: https://x.com/ItsBuddhaCat/status/1801721535843209230
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Hello Hypixel Studios team!

Will there be more commands to interact with animals in Hytale besides just making them sit or stand?

Thanks in advance!"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"Most definitely!

We understand the desire that our future players have to care for and play with their favourite animal companions in Hytale. Who knows... perhaps you'll find yourself playing fetch in the middle of a park, watch as your pet plays dead when a dangerous creature approaches, or maybe even be able to teach your pet new tricks!

Rest assured that we're always looking for ways to introduce fun interactions between players and their companions."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-06-14.jpg">
</div>