---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-06-13/
asker: None
askurl: None
answerer: Tag
answererRole: Design Director
answerurl: https://x.com/ItsBuddhaCat/status/1801351977126789362/
---

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"Our goals for personalizing your Avatar absolutely include fantasy representations. We won’t promise any individual thing on your list here, but there are certainly options in the works that tick a lot of the boxes. At a very fundamental level you are crafting your appearance from many components. How your Avatar presents in the moment certainly could be something that looks like an Elf, but remember you are an Avatar so you can always change!

If elf ears exist and you change your skin tone to green what are you now? If you take curved horns and change your skin tone to red what are you now? Add some cat eyes? Why not a different look every day of the week? You could even have one look for when you are in the mood to be creative, and another for when you are ready to be competitive!"</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-06-13.jpg">
</div>