---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-05-15/
asker: xWildSlicerx
askurl: https://x.com/xWildSlicerx/status/1747297881113948345
answerer: Goblin
answererRole: Game Designer
answerurl: https://x.com/ItsBuddhaCat/status/1790837213241966893
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Will we be able to have travelling companions / pets?

I would love to be able to include Bubbles the Kweebec on my journeys. And I'd love to dress Bubbles up. I have plans for Fancy Fridays ;)"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"We're planning to offer many sorts of pets and companions to join you on your adventures throughout all the fun and exciting experiences in Hytale. And I'm sure that some of the friends you make along the way could be convinced to wear a fancy hat, or two, or three..."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-05-15.jpg">
</div>