---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2024-02-29/
asker: LMagxedooM 
askurl: https://x.com/LMagxedooM/status/1745168574023385152
answerer: Tag
answererRole: Design Director
answerurl: https://x.com/ItsBuddhaCat/status/1763326187445858368
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Will there be a tutorial mode in Hytale?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"This is a great question that I can answer with a bit of “Yes, and” context. We don't just think about tutorials - we think about how we welcome players to become Avatars in the universe of Hytale. Our initial onboarding needs to teach you what it means to be an Avatar, and how your powers can differ (ie. The Capital, your own world, or an experience created by someone else). Of course, things like movement, block manipulation, and other really fundamental concepts have to be introduced - but don't expect to get bogged down in every detail off the bat. It's a universe of creative possibilities - and you'll learn a lot more after you are at home within it."</p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2024-02-29.jpg">
</div>