---
title: AskHytale
description: "AskHytale posts"
layout: askhytalepost.njk
permalink: /askhytale/2025-04-08/
asker: mosshorn
askurl: https://x.com/mosshorn/status/1869840876203323799
answerer: John Hendricks
answererRole: Executive Producer / Game Director
answerurl: https://x.com/ItsBuddhaCat/status/1909698977261298017
---
<div class="question">
<h1>Question</h1>

<p class="ask-body">"Are Long-Lasting singleplayer "worlds" (In the sense of a world that players build upon over the years) a thing the team has in mind when designing Hytale and thinking about how they might roll new updates once the game is out?"</p>
{% include "partials/askhytale/asktwitteruser.njk" %}
</div>

<div class="question">
<h1>Answer</h1>

<p class="ask-body">"This is something that the team obsesses over, and it is one of the more complex areas of our development. It is critical that players can maintain worlds for years, while also experiencing new content. We are also excited that creators have told us that they want to tell stories that span years, so we have worked to solve it in a way that supports their vision as well." </p>
{% include "partials/askhytale/answertwitteruser.njk" %}
</div>

<div class="og-ask">
<h1>Image</h1>
<img src="/assets/images/AskHytale-2025-04-08.jpg">
</div>