---
permalink: /author/alizardguy/
---

<html prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
<head>
    <!-- Basic Open Graph tags -->
    <meta property="og:title" content="alizardguy's Profile Page" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https://hy.alizardguy.com/author/alizardguy/" />

    <!-- Profile specific tags -->
    <meta property="profile:first_name" content="Lizard" />
    <meta property="profile:last_name" content="Guy" />
    <meta property="profile:username" content="alizardguy" />
</head>
<body>
    <h1>Author page</h1>
</body>
</html>