---
title: AskHytale
description: "#AskHytale posts"
layout: base.njk
permalink: /askhytale/
pageStyle: "/assets/css/askhytalegallery.css"
---
<main>
<div class="widget-area">
<div class="item-grid">
    {% for item in askhytales %}
        <div class="item-grid-item">
        <div class="item-grid-square">
            <a href={{item.page}}>
            {% galleryImage item.image, item.alt, "(min-width: 600px) 300px, 100vw" %}
            {% if item.caption %}
                <p class="item-grid-item-caption">{{ item.caption }}</p>
            {% endif %}
            </a>
        </div>
        </div>
    {% endfor %}
</div>
</div>
</main>