---
title: Blog Post Archive
description: "Archive of Hytale blog posts."
layout: base.njk
permalink: /blogposts/
pageStyle: "/assets/css/blogposts.css"
---
<main>
    <div class="widget-area blog-feed">
        {% for item in collections.hytaleblogposts | reverse %}
            <a href="{{item.url}}" class="blog-feed-item">
                <img src="{{item.data.cover}}">
                <p>{{item.data.title}}</p>
            </a>
        {% endfor %}
    </div>
</main>