---
title: Community
description: Cool stuff in the Hytale community!
layout: base.njk
permalink: /community/
pageStyle: "/assets/css/community.css"
---
<main>
<div class="widget-area">
    <div class="community-area">
        <h1>Community</h1>
        <h2>Community Forums</h2>
        <ul>
            <li>
                <a href="https://www.reddit.com/r/hytale/">r/Hytale - An unofficial subreddit</a>
            </li>
        </ul>
    </div>
</div>
</main>