---
title: Has Simon announced he obtained Hytale?
description: Has Simon announced that he has obtained Hytale? No
layout: base.njk
permalink: /simon/
customTitle: true
---

<main>
    {% include "partials/gadgets/simon_get_hytale.njk" %}
</main>