---
title: Tweets
description: "Important Tweets related to Hytale"
layout: base.njk
permalink: /tweets/
pageStyle: "/assets/css/tweetarchive.css"
---
<main>
<!-- sorting header -->
<div class="tweet-archive-header">
    <div class="left-section">
        <span class="title">Tweets</span>
        <div class="divider"></div>

        <div class="menu">
            <!-- Author menu item -->
            <button class="menu-item">
            Author <span class="arrow">▼</span>
            <div class="dropdown">
                <label id="childCheckbox">
                    <input type="checkbox" name="author-simon" checked>
                    <span>Simon</span>
                <label>
            </div>
            </button>
            <div class="divider"></div>
            <!-- Tag menu item -->
            <button class="menu-item">
            Tag <span class="arrow">▼</span>
            <div class="dropdown">
                <label id="childCheckbox">
                    <input type="checkbox" name="tag-acquisition" checked>
                    <span>Acquisition</span>
                <label>
            </div>
            </button>
            <div class="divider"></div>
        </div>
    </div>
</div>
<!-- Main archive -->
<div class="tweet-archive">
    <div class="tweet-grid">

    {% for item in prerevivetweets | reverse %}
    <a href="{{item.source}}" class="tweet-card" id="{{item.tag}}">
    <div class="tweet-avatar">
    <img src="{{item.avatar}}" alt="User Avatar">
    </div>
    <div class="tweet-content-container">
    <div class="tweet-header">
        <span class="user-name">{{item.name}}</span>
        <span class="tweet-time">{{item.date}}</span>
    </div>
    <div class="tweet-text">
        {{item.contentPre}} (read more)
    </div>
    </div>
    </a>
    {% endfor %}


    </div>
</div>
</main>
<script>
    // Get all menu items
    const menuItems = document.querySelectorAll('.menu-item');

    menuItems.forEach(item => {
      item.addEventListener('click', (e) => {
        e.stopPropagation(); // Prevent click from bubbling up
        // Close all other dropdowns
        menuItems.forEach(i => i !== item && i.classList.remove('active'));
        // Toggle current dropdown
        item.classList.toggle('active');
      });
    });

    // Close dropdowns when clicking outside
    document.addEventListener('click', () => {
      menuItems.forEach(item => item.classList.remove('active'));
    });

    const checkbox = document.getElementById('childCheckbox');
    checkbox.addEventListener('click', (event) => {
    event.stopPropagation(); // Prevent click from reaching parent
    });

  </script>