---
layout: base.njk
pageStyle: "/assets/css/newspost.css"
---

<main>
    <article class="post">
        <h1 class="post-title">{{title}}</h1>
        <hr>
        {{ content | safe }}
    </article>
</main>