---
title: Credits
description: "Credits"
layout: base.njk
permalink: /credits/
---

<main>
<div style="text-align: center;">
<h1>Credits</h1>
<ul style="list-style-type: none;">
<li><p>All Hytale media is owned by Hypixel Studios, Riot Games, and associated owners.</p></li>
<li><p>Site created by alizardguy using 11ty.</p></li>
<ul>
</div>
</main>