---
title: News
description: "A feed of new things Hytale"
layout: base.njk
permalink: /news/
---

<main>
    <div class="news-feed">
        <ul>
        {% for item in collections.newsposts %}
            <li>
                <p>{{item.url}}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>