---
title: News
description: "A feed of new things Hytale"
layout: base.njk
permalink: /news/
eleventyImport:
  collections: ["newspost"]
---

<main>
    <div class="news-feed">
        <ul>
        {% for item in collection.newspost %}
            <li>
                <p>hi</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>