---
title: News
description: "A feed of new things Hytale"
layout: base.njk
permalink: /news/
pageStyle: "/assets/css/newsfeed.css"
---

<main>
    <div class="news-outer">
    <h1 class="news-feed-title">News</h1>
    <div class="news-feed">
        {% for item in collections.newsposts | sort(true, true, 'date') %}
            <a href="{{item.url}}">
            <article class="news-post">
                <h2>{{item.data.title}}</h2>
                <p>{{item.data.breif}} <span class="readmore">(read more)</span></p>
                <p class="news-post-date">{{item.date | niceDate}}</p>
            </article>
            </a>
        {% endfor %}
    </div>
    </div>
</main>