---
title: Has Simon announced he obtained Hytale?
description: No
layout: base.njk
permalink: /simon/
pageStyle: "/assets/css/simon.css"
customTitle: true
---

<div class="simon-main">
<h1>Has Simon announced that he has obtained Hytale?</h1>
<h2 class="simon-answer-text-no answer-text">NO</h2>
</div>