:root {
    --primary-color: #5180e6;
    --primary-hover-color: #5180e6; 
    --text-color: #a6adbb; 
    --bg-color: #1b1b1e;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}