/* main body */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-area {
    max-width: 50%;

    margin-top: 4px;
    margin-bottom: 10px;

    line-height: 1.5em;

    font-size: 16px;
    color: #b7cedd;
    font-family: sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1038px) {
    .content-area {
        max-width: 99%;
    }
}

/* post head */
.post-title {
    background: linear-gradient(#eaf6ff, #7da7c4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
}

.post-meta {
    display: flex;
    margin-bottom: 2em;
    color: #b8cfde;
    gap: 10px;
}

.post-date {
    color:#7f8ba7;;
}

.post-cover {
    border: 1px solid #423a26;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

/* link colors */
a:link {
    color: #edb548;
}

a:visited {
    color: #edb548;
}