.news-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 10px;
    place-items: center;
    justify-content: center;
    align-content: start;
    overflow-x: hidden;
    gap: 1em;
    padding-top: 35px;
    padding-bottom: 35px;

    height: 100vh;

}

.news-feed-title {
    text-align: center;
    padding-top: 20px;
}

.news-outer {
    margin-top: 25px;
    margin-bottom: 25px;

    margin-right: auto;
    margin-left: auto;
    
    grid-column: 1 / -1;

    justify-self: center;
    

    max-width: 1600px;

    overflow-y: visible;
    height: auto;

    background-color: #121b2c;

    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.news-post {
    color: black;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: 220px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1600px) {
    .news-feed {
        padding: 0 10%;
        padding-top: 35px;
    }
}

.news-feed a:hover .news-post {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.news-post h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    min-height: 25px;
}

.news-post p {
    text-decoration: none;
    line-height: 1.5;
    min-height: 72px;
}

a {
    text-decoration: none;
}

.readmore {
    color: rgb(24, 24, 150);
}

.news-post-date {
    color: gray;
    margin-top: auto;
}

@media screen and (max-width: 450px) {
    .news-post {
        width: 360px;
    }
}

