main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.post-title {
    color: whitesmoke;
    font-size: x-large;
}

.post-info {
    color: grey;
    font-size: small;
}

.post {
    background: #10192c;
    border-radius: 20px;
    margin: 42px 5%;
    padding: 5px 20px;
    width: 624px;
    color: #e0def4;
    font-size: larger;
    word-break: break-word;
}

a:link {
    color: rgb(143, 153, 144); 
}

a:visited {
    color: rgb(143, 153, 144); 
}