:root {
    --primary-color: #5180e6;
    --primary-hover-color: #5180e6; 
    --text-color: #a6adbb; 
    --bg-color: #162137;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* media grid */
.gallery-main {
    margin: 10px;
}

.gallery {
    padding-bottom: 45px;
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
    grid-template-columns: repeat(3, 230px);
    background-color: #121b2c;
    border-radius: 10px;
    overflow: scroll;
}

.gallery-item {
    padding: 20px 5px;
    font-weight: bold;
}

.gallery-square {
    aspect-ratio: 1 / 1;
    height: 20vw;
    max-height: 200px;
}

.gallery-square img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-square a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 824px) {
    .gallery-item-caption {
        display: none;
    }

    .gallery {
        padding-bottom: 0px;
        padding-top: 0px;
        grid-template-columns: repeat(3, 22vw);
    }
}