:root {
    --primary-color: #385ba5;
    --primary-hover-color: #5180e6; 
    --text-color: #a6adbb; 
    --bg-color: #162137;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);

    overflow-x: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
}

/* generic */
.widget-area {
    background-color: #121b2c;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 824px) {

.widget-area {
    margin-left: 10px;
    margin-right: 10px;
}

}

/* media grid */
.item-grid {
    text-align: center;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 250px));
    overflow: hidden;
    place-items: center;
    justify-items: center;
    justify-content: center;
}

.item-grid-item {
    padding: 20px 5px;
    font-weight: bold;
    max-width: 205px;
}

.item-grid-square {
    padding-bottom: 20px;
    aspect-ratio: 1 / 1;
    height: 20vw;
    max-height: 200px;
}

.item-grid-square img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.item-grid-square img:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.item-grid-square a {
    color: white;
    text-decoration: none;
}

.item-grid-title {
    text-align: center;
}

@media screen and (max-width: 800px) {


    .item-grid-item {
        padding: 5px;
        max-width: 800px;
    }

    .item-grid {
        display: grid;
        padding-bottom: 30px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
    }

    .item-grid-square {
        max-height: 800px;
    }
}

@media screen and (max-width: 600px) {


    .item-grid-item {
        padding: 5px;
        max-width: 200px;
        max-height: 200px;
        min-width: 160px;
        min-height: 160px;
        align-items: center;
        padding-bottom: 30px;
    }

    .item-grid {
        display: grid;
        padding-bottom: 30px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
    }

    .item-grid-square {
        width: 100%;
        height: 100%;
    }
}

/* pointless shake code */
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.no:hover {
    animation: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}