:root {
    --primary-color: #5180e6;
    --primary-hover-color: #5180e6; 
    --text-color: #a6adbb; 
    --bg-color: #162137;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* generic */
.widget-area {
    background-color: #121b2c;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 824px) {

.widget-area {
    margin-left: 10px;
    margin-right: 10px;
}

}

/* media grid */
.gallery {
    text-align: center;
    padding-bottom: 45px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 250px));
    background-color: #121b2c;
    border-radius: 10px;
    overflow: hidden;
    place-items: center;
    justify-items: center;
    justify-content: center;
}

.gallery-item {
    padding: 20px 5px;
    font-weight: bold;
    max-width: 205px;
}

.gallery-square {
    padding-bottom: 20px;
    aspect-ratio: 1 / 1;
    height: 20vw;
    max-height: 200px;
}

.gallery-square img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-square a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 824px) {
    .gallery-item-caption {
        display: none;
    }

    .gallery-item {
        padding: 5px;
        max-width: 400px;
    }

    .gallery {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        grid-template-columns: repeat(auto-fit, minmax(20px, 21vw));
        margin-left: 10px;
        margin-right: 10px;
    }

    .gallery-square {
        padding-bottom: 0px;
        max-height: 400px;
    }
}
