.topnav {
  overflow: hidden;
  background-color: #203658;
}

.topnav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--primary-hover-color);
  color: white;
}

.topnav a.active {
  background-color: var(--primary-color);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}