.news-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 10px;
    place-items: center;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    gap: 1em;
    padding-top: 35px;
}

.news-post {
    color: black;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: 220px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
}

/* to do: view size selector scaling of width */

.news-feed a:hover .news-post {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.news-post h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    min-height: 25px;
}

.news-post p {
    text-decoration: none;
    line-height: 1.5;
    min-height: 72px;
}

a {
    text-decoration: none;
}

.readmore {
    color: rgb(24, 24, 150);
}

.news-post-date {
    color: gray;
    margin-top: auto;
}