main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.post-title {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: x-large;
}

.post {
    background: white;
    border-radius: 20px;
    margin: 42px 5%;
    padding: 5px 20px;
    width: 1000px;
    color: black;
    font-size: larger;
}