---
title: Gallery
description: "Hytale Media Gallery"
layout: base.njk
permalink: /
---

<main class="gallery-main">
<h1>Modding Tools Gallery</h1>
<div class="gallery">
    {% for item in modgallery %}
        <div class="gallery-square">
            <a href={{item.page}}>
            {% galleryImage item.image, item.alt, "(min-width: 600px) 300px, 100vw" %}
            {% if item.caption %}
                <p>{{ item.caption }}</p>
            {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
</main>