<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if customTitle %}
    <title>{{title}}</title>
    {% else %}
    <title>{{title}} — lizard's Hytale Archive</title>
    {% endif %}

    {% if description %}
    <meta name="description" content="{{description}}">
    <meta name="og:description" content="{{description}}">
    {% endif %}

    <meta property="og:url" content="https://hy.alizardguy.com{{permalink}}" />

    <meta property="og:site_name" content="Hytale Media Archive" />

    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/base.css">

    {% if pageStyle %}
    <link rel="stylesheet" href={{pageStyle}}>
    {% endif %}
</head>